<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="personal.css"/>
    <title>HCMUS - $name</title>
</head>
<body>
<div class="Layout_container">
    <!-- Begin Layout Banner Region -->
    <div class="Layout_Banner">
        <div><img id="logo" src="Images/logo.jpg" height="105"
        /></div>
        <div class="Header_Title">TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN
        </div>
    </div>
    Trang 6
    <!-- End Layout Banner Region -->
    <!-- Begin Layout MainContents Region -->
    <div class="Layout_MainContents">
        <!-- Begin Below Banner Region -->
        <div class="Personal_Main_Information">
            <!-- Begin Thông tin cá nhân c?a th?y cô ----------------
           ------------------------------------------------------------------------- -->
            <div class="Personal_Location">
                <img src="Images/LogoFooter.jpg" width="27"
                     height="33"/>
                <div class="Personal_FullName">$name - $id
                </div>
                <div class="Personal_Department">Khoa $faculty</div>
                <br/>
                <br/>
                <br/>
            </div>
            <!-- End Thông tin cá nhân c?a th?y cô ------------------
            ----------------------------------------------------------------------- -->
            <div class="Personal_HinhcanhanKhung">
                <img src="Images/$avatar"
                     class="Personal_Hinhcanhan"/>
            </div>
        </div>
        <!-- End Below Banner Region -->
        <!-- Begin MainContents Region -->
        <div class="MainContain">

            <!-- Begin Top Region -->
            <div class="MainContain_Top">

                <div class="InfoGroup">Thông tin cá nhân</div>
                <div>
                    <ul class="TextInList">
                        <li>Họ và tên: $name</li>
                        <li>MSSV: $id</li>
                        <li>Khoa: $faculty</li>
                        <li>Ngày sinh: $birthday</li>
                    </ul>
                </div>
                <div class="InfoGroup">Sở thích</div>
                <div>
                    <ul class="TextInList">
                        <li>Âm nhạc: POP, Balad</li>
                        <li>Ẩm thực: bún riêu, bún thịt nướng</li>
                    </ul>
                </div>
                <div class="InfoGroup">Mô tả</div>
                <div class="Description">
                    $info
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Layout Footer -->
    <div class="Layout_Footer">
        <div class="divCopyright">
            <br/>
            <img src="Images/LogoFooter_gray.jpg" width="34"
                 height="41"/><br/>
            <br/>
            @2016</br>
            Đồ án giữa kỳ</br>
            Kỹ thuật lập trình</br>
            TH2016/03</br>
            152654 - Phan Thanh Tùng</br>
        </div>
    </div>
    <!-- End Layout Footer -->
</div>
</body>
</html>