<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="personal.css"/>
    <title>HCMUS - $name</title>
    <style type="text/css">
        .hide{
            display:none;
        }
    </style>
</head>
<body>
<div class="Layout_container">
    <!-- Begin Layout Banner Region -->
    <div class="Layout_Banner">
        <div><img id="logo" src="Images/logo.jpg" height="105"
        /></div>
        <div class="Header_Title">TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN
        </div>
    </div>
    <!-- End Layout Banner Region -->
    <!-- Begin Layout MainContents Region -->
    <div class="Layout_MainContents">
        <!-- Begin Below Banner Region -->
        <div class="Personal_Main_Information">
            <!-- Begin Thông tin cá nhân c?a th?y cô-->
            <div class="Personal_Location">
                <img src="Images/LogoFooter.jpg" width="27"
                     height="33"/>
                <div class="Personal_FullName"><span class="$name">$name</span> <span class="$id">- $id</span></div>
                <div class="Personal_Department $faculty">Khoa $faculty</div>
                <br/>
                <br/>
                <br/>
            </div>
            <!-- End Thông tin cá nhân c?a th?y cô -->
            <div class="Personal_HinhcanhanKhung $avatar">
                <img src="Images/Profiles/$avatar"
                     class="Personal_Hinhcanhan"/>
            </div>
        </div>
        <!-- End Below Banner Region -->
        <!-- Begin MainContents Region -->
        <div class="MainContain">

            <!-- Begin Top Region -->
            <div class="MainContain_Top">

                <div class="InfoGroup">Thông tin cá nhân</div>
                <div>
                    <ul class="TextInList">
                        <li class="$name">Họ và tên: $name</li>
                        <li class="$id">MSSV: $id</li>
                        <li class="$faculty">Khoa: $faculty</li>
                        <li class="$birthday">Ngày sinh: $birthday</li>
                        <li class="$email">Email: $email</li>
                    </ul>
                </div>

                <div class="$hobbies">
                    <div class="InfoGroup">Sở thích</div>
                    <div>
                        <ul class="TextInList">
                            $hobbies
                        </ul>
                    </div>
                </div>

                <div class="$info">
                    <div class="InfoGroup $info">Mô tả</div>
                    <div class="Description">
                        $info
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Layout Footer -->
    <div class="Layout_Footer">
        <div class="divCopyright">
            <br/>
            <img src="Images/LogoFooter_gray.jpg" width="34"
                 height="41"/><br/>
            <br/>
            @2016</br>
            Đồ án giữa kỳ</br>
            Kỹ thuật lập trình</br>
            TH2016/03</br>
            152654 - Phan Thanh Tùng</br>
        </div>
    </div>
    <!-- End Layout Footer -->
</div>
</body>
</html>