@charset "utf-8";
@charset "utf-8";
/* CSS Document */
*
{
    padding: 0;
    margin: 0;
}
.DivClear
{
    clear: both;
    padding-top: 3px;
    padding-bottom: 3px;
}
.DivClearNone
{
    clear: both;
    padding-top: 0px;
    padding-bottom: 0px;
}
html, body
{
    margin: 0px;
    padding: 0px;
}
.Layout_container
{
    width: 995px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -147px;
    background-color: #eaeaea;    
}

.Layout_Banner
{
    width: 100%;
    height: 121px;
    margin: 0px;
    /*background-image: url(Images/BG_banner.jpg);*
    background-repeat:no-repeat;*/
	background-color: White;
}
.Layout_MainContents
{
    width:100%;
}
.Layout_Push, .Layout_Footer
{
    width: 100%;
    height: 147px;
    width: 995px;
    margin: 0 auto;
}
.Header_Title
{
	margin-left:50px;	
	margin-top:50px;
	width:auto;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
	color: #000099;
	float:left
}
#logo
{
	float:left;
	margin-top:10px;
}
/*------------------------------*/

.TopControl{
    float:right;
    padding-top: 16px;
    padding-right: 30px;
    padding-bottom: 16px;
    text-align: right;
}
.Textbox{
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-color: #e4ebea;
}
.LoginText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.5pt;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c2a6d;    
}
.TopControlText{
    font-size: 10pt;
    color: #000;
    letter-spacing: 0.05em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 8px;
    margin-bottom: 10px;
}


.Personal_Main_Information{
    height:237px;
    width: 100%;
    background-color: #c3c3c3;    
}
.Personal_RightBG{
    height:237px;
    width:163px;
    background-image: url(Images/BG_PersonalRight.gif);
    background-repeat: no-repeat;
    float:right;
}
.Personal_HinhcanhanKhung{
    height: 237px;
    /*width: 205px;*/
    text-align: center;
    vertical-align: middle;
    float:right;
}
.Personal_Hinhcanhan{
    height: 237px;
    /*width: 205px;*/
}
.Personal_Location
{
    width: 626px;
    height: 207px; /*237-44*/
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #403b33;
    text-align: center;
    padding-top: 30px;
}
.Personal_FullName
{
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 5px;
    letter-spacing: 80%;
}
.Personal_Department
{
    font-size: 14pt;
    font-family: 'Times New Roman' , Times, serif;
    letter-spacing: 0.2em;
}
.Personal_Phone
{
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
}
.Personal_Website{
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
    color: #565656;    
}
/*------------------------------*/
.MainContain{
    clear:both;
    width: 100%;
    width: 995px;
    background-attachment: fixed;
    background-image: url(Images/BG_main.gif);
    background-repeat: repeat-x;
    background-color: #FFF;
    background-position: right top;
}
.MainContain_Top{
    width:100%;
	 padding-left: 80px;
	 min-height:400px;
}

.MainContain_RightTop{
    float:right;
    width:368px;
    height:200px;
}
.MainContain_ButtonSpace{
    clear:both;
    height:45px;
    width:100%;
    text-align: left;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.05em;    
}
.Button_Toolbar{
    float:left;
    width:35px;
    height:36px;
}
.Button_Title{
    float:left;
    text-align:left;
    vertical-align:middle;
    padding-top: 10px;
    padding-left: 5px;
}






.InfoGroup{
    text-transform: uppercase;
    color: #d7783c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}
.Description{
font-size: 14px;
    text-align: justify;
    color: #565656;
}
.TextInList{
    list-style-position:outside;
    font-size: 14px;
    text-align: justify;
    color: #565656;
}
li{
    margin-bottom: 5px;    
}

ol li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #565656;
    font-weight: bold;
}

.Paper{
    font-family: Arial, Helvetica, sans-serif;
    color: #565656;
    font-size: 11px;
    margin-bottom: 10px;
}
.PaperName{
    text-transform: uppercase;
    font-weight: bold;
}
.PaperAuthors{
    
}
.PaperOthers{
}

/*-----------copy right---------------*/
.divCopyright{
    height:147px;
    font-size:11px;
    color: #8c8c8c;
    text-align: center;
    padding-right: 10px;
    background-color: #eaeaea;
    letter-spacing: 0.1em;
}


a.link:active, a.link:visited, a.link:link
{
    text-decoration: none;
}
a.link:hover
{
    text-decoration: none;
    color: #FF6600;
}

a.linkIcon:active, a.linkIcon:visited, a.linkIcon:link
{
    text-decoration: none;
    color: #000;    
}
a.linkIcon:hover
{
    text-decoration: none;
    color: #FF6600;
} 